* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  width: 100%;
  font-family: sans-serif;
  margin: 0 auto;
}
header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(197, 227, 201, 0.155);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  margin: 0 auto;
  max-width: 1700px;
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-nav-items {
  width: 700px;
  justify-content: space-between;
  list-style: none;
  display: flex;
}
.header-nav-items {
  margin-right: 20px;
  font-weight: 400;
  font-size: 20px;
  color: rgb(60, 59, 59);
}
.header-nav-items:last-child {
  margin-right: 0;
}
.header-nav-items a {
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: rgb(60, 59, 59);
}
.header-nav-items a:hover {
  border-bottom: 2px solid rgb(24, 62, 24);
  color: rgb(24, 62, 24);
}
.header__phone__number {
  font-weight: 700;
  font-size: 32px;
  color: rgb(60, 59, 59);
}
.logo-svg{
  margin-top: -20px;
}
.main__container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}
.main__container-img {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  background-image: url(./img/utensils.jpg);
  min-height: 770px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
